<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li id="Document-Index">
                <a asp-controller="Document" asp-action="Index"><i class="fa fa-home"></i> <span>Document</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>